html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  font: 1rem sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Styles for App component */
.App {
  text-align: center;
  width: 100vw;
}

header {
  font-size: 70px;
  margin-top: 30px;
  padding: 20px;
  font-family: 'Concert One', cursive;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 20px 40px;
    text-align: left;
  }
  .App {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header {
    margin-bottom: 60px;
  }
  .form {
    width: 450px;
    height: 100%;
    justify-self: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header {
    width: 100%;
  }
  #randomize {
    width: 100%;
  }
}

/* Styles for Content component */
.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 60%;
}

img {
  max-width: 520px;
  height: auto;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

h1, h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 3px black;
  line-height: 1;
}

h1 {
  top: 16px;
}

h2 {
  bottom: 32px;
}

/* Styles for Form component */
.form {
  margin: 0 auto;
  max-width: 450px;
}

.form-inputs,
.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.form-inputs {
  margin-bottom: 10px;
}

.form-inputs input,
.form-buttons .btn {
  border-radius: 8px;
  border: 1px solid;
  padding: 2px;
  margin: 10px;
}

.form-inputs input {
  padding: 8px;
  width: 100%;
  max-width: 50%;
  border: 1px solid #ccc;
}

.form-inputs input:focus {
  outline-color: #000000;
}

.form-inputs input + input,
.form-buttons .btn + .btn {
  margin-left: 10px;
}

.form-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-buttons .btn {
  padding: 1px 8px;
  border: 0;
  cursor: pointer;
  color: #fff;
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}

/* Styles for buttons */
.btn-primary {
  background: #000000;
}

.btn-primary:hover {
  background: #24292e;
}

.btn-danger {
  background: #d63031;
}

.btn-danger:hover {
  background: #b02324;
}

.btn-text {
  font-size: 13px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* Modal content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 500px;
}

/* The close button in modal */
#close {
  color: #000000;
  float: right;
  font-size: 28px;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */