html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font: 1rem sans-serif;
}

/* Styles for App component */

.App {
  text-align: center;
}

header {
  font-size: 70px;
  margin-top: 30px;
  font-family: 'Concert One', cursive;
  text-transform: uppercase;
}

/* Styles for Content component */

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 15px;
}

img {
  max-width: 520px;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

h1, h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 3px black;
  line-height: 1;
}

h1 {
  top: 16px;
}

h2 {
  bottom: 32px;
}

/* Styles for Form component */

.form {
  margin: 0 auto;
  max-width: 380px;
}

.form-inputs,
.form-buttons {
  display: flex;
  flex-flow: row nowrap;
}

.form-inputs {
  margin-bottom: 12px;
}

.form-inputs input,
.form-buttons .btn {
  border-radius: 15px;
  border: 1px solid;
  padding: 5px;
  margin: 10px;
}

.form-inputs input {
  padding: 8px;
  width: 100%;
  max-width: 50%;
  border: 1px solid #ccc;
}

.form-inputs input:focus {
  outline-color: #e94390;
}

.form-inputs input + input,
.form-buttons .btn + .btn {
  margin-left: 12px;
}

.form-buttons {
  justify-content: center;
}

.form-buttons .btn {
  padding: 8px 12px;
  border: 0;
  cursor: pointer;
  color: #fff;
  transition: background .25s ease-in-out;
}

/* Styles for buttons */

.btn-primary {
  background: #5e8f97;
}

.btn-primary:hover {
  background: #101418;
}

.btn-danger {
  background: #d63031;
}

.btn-danger:hover {
  background: #b02324;
}

.btn-text {
  font-size: 13px;
}





